<p><%= flash[:alert] %></p>

<h2>SIGN UP TO CREATE AND MANAGE EVENTS</h2>

<%= form_with model: @user do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name, placeholder: "Sign up with name", class:"placeholder" %>
  <%= form.submit %>
<% end %>

<br>

<%= link_to 'Sign in', users_sign_in_path %>