<%= render 'layouts/navigation', current_user: @current_user%>

<p><%= flash[:notice] %></p>
<p><%= flash[:alert] %></p>
<h1>Hey, <%= @current_user[:name] %>!</h1>

<table>
    <thead>
        <strong>EVENTS YOU CREATED</strong>
    </thead>
    <tbody>
        <tr>
            <th>Description</th>
            <th>Location</th>
            <th colspan="3">Date</th>
        </tr>

        <% @user_events.each do |event| %>
            <tr>
                <td><%= event.description %></td>
                <td><%= event.location %></td>
                <td><%= event.date %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<hr>

<h5>UPCOMING EVENTS</h5>

<ul>
    <% @user_attending_events.where('date >= ?', Date.current).each do |event| %>
        <li><%= event.description %> | <%= event.location %> | <%= event.date %></li>
    <% end %>
</ul>

<h5>PREVIOUS EVENTS</h5>

<ul>
    <% @user_attending_events.where('date < ?', Date.current).each do |event| %>
        <li><%= event.description %> | <%= event.location %> | <%= event.date %></li>
    <% end %>
</ul>
